<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HTTPAPI"
         connectionString="PUT_YOUR_BOT_TOKEN_HERE" />
    <add name="Welcome"
         connectionString="D:\Applications\VozBot\VozBot\Data\welcome.json"/>
    <add name="Note"
         connectionString=""/>
    <add name="Filter"
         connectionString="D:\Applications\VozBot\VozBot\Data\filter.json"/>
    <add name="Bio"
         connectionString="D:\Applications\VozBot\VozBot\Data\bio.json"/>
    <add name="Admin"
         connectionString="D:\Applications\VozBot\VozBot\Data\admin.json"/>
  </connectionStrings>
</configuration>