<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HTTPAPI"
         connectionString="PUT_YOUR_BOT_TOKEN_HERE" />
    <add name="Welcome"
         connectionString="WELCOME.JSON_FILE_PATH"/>
    <add name="Note"
         connectionString="NOTE.JSON_FILE_PATH"/>
    <add name="Filter"
         connectionString="FILTER.JSON_FILE_PATH"/>
    <add name="Bio"
         connectionString="BIO.JSON_FILE_PATH"/>
    <add name="Admin"
         connectionString="ADMIN.JSON_FILE_PATH"/>
  </connectionStrings>
</configuration>